body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Bungee", serif;
    color: white;
}

header.topo {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: -60px;
}

header.topo img {
    width: 1515px;
    margin-left: -20px;
    margin-top: -60px;
    padding-top: -60px;
    height: auto;

}

h1 {
    font-size: 60px;
    font-style: italic;
    margin: 10px 0;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px;
}

.sobre .texto {
    max-width: 50%;
}

.sobre .extra img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.projetos {
    padding: 20px 40px;
}

.projetos h2 {
    margin-bottom: 10px;
}

.projetos ul {
    list-style: none;
    padding: 0;
}

.projetos li {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    font-size: 14px;
}