body {
    background-color: black;
    margin: 0;
    padding: 0;

}

.topo {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -250px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.extra img {
    margin-top: 50px;
    margin-left: -50px;
    width: 150px;
    height: auto;
}


h1 {
    color: white;
    text-align: center;
    font-family: "Bungee", serif;
    font-size: 60px;
    font-style: italic;
    margin-top: 1px;
}

h2 {
    color: white;
    padding-left: 30px;
}